// To be compiled

@import 'variables';
@import 'reset';
@import 'font';

.container-fluid {
  padding: 0px;
}

.btn {
  background-color: $primaryColor;
  color: $secondaryColor;
  transition: all 0.4s;
}

.navbar {
  height: 100px;
  z-index: 999;
  position: fixed;
  width: 100%;
  margin-bottom: 0px;
  background-color: white;
  box-shadow: 0px 4px 42px -9px rgba(0,0,0,0.75);
  border-radius: 0px;

  .navbar-brand {
    transform: translateX(-50%);
    left: 51%;
    position: absolute;
  }

  .navbar-nav {
    margin-top: 20px;
  }
}

.cartButton {
  cursor: pointer;
}

.cartButtonHidden {
  display: none !important;
}


.mySlides {
  display:none;
}

.dropdownNav {
  display: none;
  position: fixed;
  z-index: 999;
  top: 100px;
  width: 100%;
  text-align: center;
  background-color: rgba(240,240,240,0.95);

  ul {

    a {

      text-decoration: none;
      color: black;

      li {
        padding: 20px 0;
        width: 100%;
      }

      li:hover {
        background-color: rgba(200,200,200,0.95);
        color: $primaryColor;
      }
    }
  }
}

.cartCountBg {
  background-color: $primaryColor;
  border-radius: 10px;
  width:16px;
  height: 16px;
  position: absolute;
  top: 12px;
  left: 35px;
}

.cartCount {
  border-radius: 10px;
  width:16px;
  height: 16px;
  position: absolute;
  top: 10px;
  left: 39px;
  font-size: 12px;
  color: white;
  font-family: $secondaryFont;
}

.cartDropdown {
  position: fixed;
  display: none;
  background-color: rgba(240,240,240,0.90);
  width: 100%;
  z-index: 9999;
  top: 100px;

  .container {
    margin: 0 auto;
    text-align: center;
    padding: 40px;

    h2 {
      margin-bottom: 10px;
      font-size: 24px;
    }

    ul {
      margin-bottom: 20px;

      li {
        text-decoration: none;
        list-style-type: none;
      }
    }
  }
}

.contact {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index:9999;
  position: fixed;
  display: none;

  .container {
    background-color: white;
    margin-top: 120px;
    padding: 40px 20px;

    h1 {
      text-align: center;
      font-size: 32px;
    }

    .contactCloseButton {
      float: right;
      margin-top: -30px;
      margin-right: 10px;
      color: black;
      cursor: pointer;
    }

    form {
      margin: 80px;
      margin-top: 20px;
      input, textarea {
        width: 100%;
        margin: 15px 0;
        border-radius: 2px;
        border: none;
        background-color: #f1f1f1;
        padding: 10px;
      }

      .submitButton {
        position: relative;
        border: none;
        padding: 10px;
        width: auto;
        float: right;
      }
    }

    .contactSuccess {
      text-align: center;
      display: none;

      p {
        margin: 10px 0;
        font-size: 28px;
      }
    }
  }
}


.hero .caption {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  margin-top: 325px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px #000000;

  h1 {
    font-size: 60px;
  }

  h3 {
    font-size: 30px;
  }
}


// Using CSS to get the images to allow for easier resizing through devices
.slideshow {
  .coffee {
    background: url("../img/img-coffee.jpg") no-repeat center;
    background-size: cover;
  }
  .kitchen {
    background: url("../img/img-kitchen.jpg") no-repeat center;
    background-size: cover;
  }
  .citrus {
    background: url("../img/img-citrus.jpg") no-repeat center;
    background-size: cover;
  }
  .ravioli {
    background: url("../img/img-ravioli.jpg") no-repeat center;
    background-size: cover;
  }
}

.about {
  padding: 80px 0;
  font-family: $secondaryFont;

  .container {
    text-align: center;

    p {
      line-height: 40px;
    }
  }
}

.orderComplete, .orderConfirm {
  padding-top: 200px;
  text-align: center;
  float:left;

  h2 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 60px;
  }

  ul {
    margin-bottom: 40px;
    li {
      list-style-type: none;
      font-size: 28px;
    }
  }

  .backHomeButton, .confirmOrderButton {
    margin-top: 20px;
  }

  .autologouttimer {
    position: relative;
    margin: 0 auto 40px;
    padding: 3px 0;
    width: 275px;
    height: 20px;
    background-color: transparent;
    text-align: center;
    -webkit-box-shadow: inset -2px -2px 0px 0px rgba(250,250,250,0.75);
    -moz-box-shadow: inset -1px -1px 0px 0px rgba(250,250,250,0.75);
    box-shadow: inset -1px -1px 0px 0px rgba(250,250,250,0.75);
    background-color: rgb(143, 143, 143);
    border-radius: 15px;

    span {
    	font-family: 'Arimo', sans-serif;
    	font-weight: bold;
      color: #FFF;
    	font-size: 14px;
    	line-height: 15px;
      top: -2px;
    	position: relative;
    }

    .progressbar {
    	float: left;
    	position: absolute;
    	top: -3px;
    	left: 0px;
    	margin: 5px;
    	width: 265px;
    	height: 15px;
    	border: 0px;
    	border-radius: 15px;
      background-color: $primaryColor;
    }
  }
}

.menu {
  background: url("../img/img-broccoli.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  padding: 100px 0 50px 0;

  h1 {
    text-align: center;
    color: white;
    font-size: 72px;
    margin-bottom: 80px;
    text-shadow: 0px 0px 10px #000000;
  }

  .container {
    background-color: white;
    height: auto;
    padding: 0px;
    padding-bottom: 20px;

    .menuTable {

      .expanded {
        border-bottom: 20px solid white;

        .description {
          text-align: center;
        }
      }
    }

    .bakingTable, .breakfastTable, .lunchTable {
      display: none;
    }

    .filterBar {
      background-color: lightGrey;
      width: 100%;
      height: 84px;

      .active {
        background-color: grey;
        color: white;
      }

      div {
        padding: 34px 0;
        text-align: center;
        color: black;
        transition: all 0.2s;
        cursor: pointer;
        border-bottom: 1px solid $secondaryColor;
      }
      div:hover {
        background-color: Grey;
        color: white;
      }

    }
    table {
    border-collapse: collapse;
    width: 95%;
    max-width: 100%;
    margin: 40px auto 0;

      .orderBtn {
        margin-right: 10px;
      }

      // Sets default for display
      .expanded {
        display: none;
      }
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    .td-right {
      text-align: right;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }

    th {
      font-size: 32px;
    }
  }
}


.location {
  padding: 200px 0 100px;

  iframe {
    display: block;
    margin: 0 auto;
  }

  h1 {
    font-size: 32px;
    line-height: 60px;
  }

  h2 {
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 50px;
  }

  h1,h2 {
    text-align: center;
  }
}

.productTitle{
  display: none;
}

.photos {
  position: relative;
  height: 90vh;
  width: 100%;

 .collage {
    background: url("../img/img-collage.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;

    h1 {
      width: 100%;
      position: absolute;
      text-align: center;
      margin-top: 15%;
      color: white;
      font-size: 60px;
      text-shadow: 0px 0px 10px #000000;
    }
  }
}

.instagram {
  height: auto;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 90px 0;

  h2 {
    line-height: 60px;
  }

  h3 {
    margin-bottom: 20px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .instagramButton:hover {
    background-color: darken($primaryColor, 10%);
    color: $secondaryColor;
  }
}

footer {
  background-color: $primaryColor;
  color: white;
  padding: 60px 0;

  ul {
    width: 100%;
    margin: 0 auto 30px;
    text-align: center;

    li {
      display: inline;
      margin: 0 10px;

      a {
        color: white;
        transition: all 0.2s;
        font-family: $secondaryFont;
      }

      a:hover {
        color: $tertiaryColor;
        text-decoration: none;
      }
    }
  }
  p {
    text-align: center;
    font-size: 8px;
    margin-top: 20px;
  }

  h3 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
     a {
       color: white;
     }

     a:hover {
       color: white;
       text-decoration: none;
     }
  }
}

@import 'responsive';
