@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@font-face {
  font-family: 'TravelingTypewriter';
  src: url("font/TravelingTypewriter.ttf") format("ttf"), url("font/TravelingTypewriter.otf") format("otf");
}
body {
  font-family: "TravelingTypewriter", "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
}

.container-fluid {
  padding: 0px;
}

.btn {
  background-color: #bd3b2b;
  color: white;
  transition: all 0.4s;
}

.navbar {
  height: 100px;
  z-index: 999;
  position: fixed;
  width: 100%;
  margin-bottom: 0px;
  background-color: white;
  box-shadow: 0px 4px 42px -9px rgba(0, 0, 0, 0.75);
  border-radius: 0px;
}
.navbar .navbar-brand {
  transform: translateX(-50%);
  left: 51%;
  position: absolute;
}
.navbar .navbar-nav {
  margin-top: 20px;
}

.cartButton {
  cursor: pointer;
}

.cartButtonHidden {
  display: none !important;
}

.mySlides {
  display: none;
}

.dropdownNav {
  display: none;
  position: fixed;
  z-index: 999;
  top: 100px;
  width: 100%;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.95);
}
.dropdownNav ul a {
  text-decoration: none;
  color: black;
}
.dropdownNav ul a li {
  padding: 20px 0;
  width: 100%;
}
.dropdownNav ul a li:hover {
  background-color: rgba(200, 200, 200, 0.95);
  color: #bd3b2b;
}

.cartCountBg {
  background-color: #bd3b2b;
  border-radius: 10px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 12px;
  left: 35px;
}

.cartCount {
  border-radius: 10px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  left: 39px;
  font-size: 12px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.cartDropdown {
  position: fixed;
  display: none;
  background-color: rgba(240, 240, 240, 0.9);
  width: 100%;
  z-index: 9999;
  top: 100px;
}
.cartDropdown .container {
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}
.cartDropdown .container h2 {
  margin-bottom: 10px;
  font-size: 24px;
}
.cartDropdown .container ul {
  margin-bottom: 20px;
}
.cartDropdown .container ul li {
  text-decoration: none;
  list-style-type: none;
}

.contact {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  position: fixed;
  display: none;
}
.contact .container {
  background-color: white;
  margin-top: 120px;
  padding: 40px 20px;
}
.contact .container h1 {
  text-align: center;
  font-size: 32px;
}
.contact .container .contactCloseButton {
  float: right;
  margin-top: -30px;
  margin-right: 10px;
  color: black;
  cursor: pointer;
}
.contact .container form {
  margin: 80px;
  margin-top: 20px;
}
.contact .container form input, .contact .container form textarea {
  width: 100%;
  margin: 15px 0;
  border-radius: 2px;
  border: none;
  background-color: #f1f1f1;
  padding: 10px;
}
.contact .container form .submitButton {
  position: relative;
  border: none;
  padding: 10px;
  width: auto;
  float: right;
}
.contact .container .contactSuccess {
  text-align: center;
  display: none;
}
.contact .container .contactSuccess p {
  margin: 10px 0;
  font-size: 28px;
}

.hero .caption {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  margin-top: 325px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px #000000;
}
.hero .caption h1 {
  font-size: 60px;
}
.hero .caption h3 {
  font-size: 30px;
}

.slideshow .coffee {
  background: url("../img/img-coffee.jpg") no-repeat center;
  background-size: cover;
}
.slideshow .kitchen {
  background: url("../img/img-kitchen.jpg") no-repeat center;
  background-size: cover;
}
.slideshow .citrus {
  background: url("../img/img-citrus.jpg") no-repeat center;
  background-size: cover;
}
.slideshow .ravioli {
  background: url("../img/img-ravioli.jpg") no-repeat center;
  background-size: cover;
}

.about {
  padding: 80px 0;
  font-family: "Montserrat", sans-serif;
}
.about .container {
  text-align: center;
}
.about .container p {
  line-height: 40px;
}

.orderComplete, .orderConfirm {
  padding-top: 200px;
  text-align: center;
  float: left;
}
.orderComplete h2, .orderConfirm h2 {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 60px;
}
.orderComplete ul, .orderConfirm ul {
  margin-bottom: 40px;
}
.orderComplete ul li, .orderConfirm ul li {
  list-style-type: none;
  font-size: 28px;
}
.orderComplete .backHomeButton, .orderComplete .confirmOrderButton, .orderConfirm .backHomeButton, .orderConfirm .confirmOrderButton {
  margin-top: 20px;
}
.orderComplete .autologouttimer, .orderConfirm .autologouttimer {
  position: relative;
  margin: 0 auto 40px;
  padding: 3px 0;
  width: 275px;
  height: 20px;
  background-color: transparent;
  text-align: center;
  -webkit-box-shadow: inset -2px -2px 0px 0px rgba(250, 250, 250, 0.75);
  -moz-box-shadow: inset -1px -1px 0px 0px rgba(250, 250, 250, 0.75);
  box-shadow: inset -1px -1px 0px 0px rgba(250, 250, 250, 0.75);
  background-color: #8f8f8f;
  border-radius: 15px;
}
.orderComplete .autologouttimer span, .orderConfirm .autologouttimer span {
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #FFF;
  font-size: 14px;
  line-height: 15px;
  top: -2px;
  position: relative;
}
.orderComplete .autologouttimer .progressbar, .orderConfirm .autologouttimer .progressbar {
  float: left;
  position: absolute;
  top: -3px;
  left: 0px;
  margin: 5px;
  width: 265px;
  height: 15px;
  border: 0px;
  border-radius: 15px;
  background-color: #bd3b2b;
}

.menu {
  background: url("../img/img-broccoli.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  padding: 100px 0 50px 0;
}
.menu h1 {
  text-align: center;
  color: white;
  font-size: 72px;
  margin-bottom: 80px;
  text-shadow: 0px 0px 10px #000000;
}
.menu .container {
  background-color: white;
  height: auto;
  padding: 0px;
  padding-bottom: 20px;
}
.menu .container .menuTable .expanded {
  border-bottom: 20px solid white;
}
.menu .container .menuTable .expanded .description {
  text-align: center;
}
.menu .container .bakingTable, .menu .container .breakfastTable, .menu .container .lunchTable {
  display: none;
}
.menu .container .filterBar {
  background-color: lightGrey;
  width: 100%;
  height: 84px;
}
.menu .container .filterBar .active {
  background-color: grey;
  color: white;
}
.menu .container .filterBar div {
  padding: 34px 0;
  text-align: center;
  color: black;
  transition: all 0.2s;
  cursor: pointer;
  border-bottom: 1px solid white;
}
.menu .container .filterBar div:hover {
  background-color: Grey;
  color: white;
}
.menu .container table {
  border-collapse: collapse;
  width: 95%;
  max-width: 100%;
  margin: 40px auto 0;
}
.menu .container table .orderBtn {
  margin-right: 10px;
}
.menu .container table .expanded {
  display: none;
}
.menu .container th, .menu .container td {
  text-align: left;
  padding: 8px;
}
.menu .container .td-right {
  text-align: right;
}
.menu .container tr:nth-child(even) {
  background-color: #f2f2f2;
}
.menu .container th {
  font-size: 32px;
}

.location {
  padding: 200px 0 100px;
}
.location iframe {
  display: block;
  margin: 0 auto;
}
.location h1 {
  font-size: 32px;
  line-height: 60px;
}
.location h2 {
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 50px;
}
.location h1, .location h2 {
  text-align: center;
}

.productTitle {
  display: none;
}

.photos {
  position: relative;
  height: 90vh;
  width: 100%;
}
.photos .collage {
  background: url("../img/img-collage.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.photos .collage h1 {
  width: 100%;
  position: absolute;
  text-align: center;
  margin-top: 15%;
  color: white;
  font-size: 60px;
  text-shadow: 0px 0px 10px #000000;
}

.instagram {
  height: auto;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 90px 0;
}
.instagram h2 {
  line-height: 60px;
}
.instagram h3 {
  margin-bottom: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}
.instagram .instagramButton:hover {
  background-color: #932e22;
  color: white;
}

footer {
  background-color: #bd3b2b;
  color: white;
  padding: 60px 0;
}
footer ul {
  width: 100%;
  margin: 0 auto 30px;
  text-align: center;
}
footer ul li {
  display: inline;
  margin: 0 10px;
}
footer ul li a {
  color: white;
  transition: all 0.2s;
  font-family: "Montserrat", sans-serif;
}
footer ul li a:hover {
  color: black;
  text-decoration: none;
}
footer p {
  text-align: center;
  font-size: 8px;
  margin-top: 20px;
}
footer h3 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
}
footer h3 a {
  color: white;
}
footer h3 a:hover {
  color: white;
  text-decoration: none;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  footer ul {
    display: none !important;
  }

  table tr th {
    font-size: 24px !important;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .navbar li {
    float: left;
    margin: 0 15px 0 15px;
  }

  .floatRight {
    float: right !important;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .filterBar {
    height: auto !important;
  }
}
/* Large Devices, Wide Screens */
